@font-face {
    font-family: 'Nueva Seravek';
    src: url("./fonts/Seravek\ Basic.ttf") /* TTF file for CSS3 browsers */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

.container{
    margin: auto;
    width: 90%;
    max-width: 1000px;
} 

main article{
    background: #fff;
    margin:20px 0;
    padding:20px;
    height:1000px;

}

.banner-image {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.header-nav {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}


.header-nav .llamanos {
    background-color: #65A4B3;
    color: white;
    font-weight: bold;
    border:none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
}

.menu {
    padding:5px;
    flex-grow: 1;
}

.menu .container-botones-menu{
    display:none;
    justify-content:space-between;
}

.menu .container-botones-menu button{
    font-size:20px;
    color: #0b2a3f;
    padding:10px 20px;
    border:1px solid transparent;
    display:inline-block;
    cursor:pointer;
    background:none;
}

.menu .container-botones-menu button:hover{
    transform: scale(1.1);
}

.menu .container-botones-menu button {
   border-radius: 10px;
   border-radius: 10px;
   border:  1px solid #0b2a3f;
}

.menu .container-botones-menu .btn-menu-cerrar{
    display: none;
}

.menu .container-botones-menu .btn-menu-cerrar.activo{
    display: inline-block;
}

.menu ul {
    margin: 0;
   display: flex;
   justify-content:center;
   align-items: center;
}

.menu ul li {
    list-style: none;
    position: relative;
}

.menu ul li:first-child::before {
    border: none;
}

.menu ul li::before{
    content: '';
    height: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #14293D;
}


.menu ul li a {
    color:#14293D;
    font-family: 'Nueva Seravek',Helvetica,Arial,Lucida,sans-serif;
    padding: 0 10px 8px 10px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

.menu a.dropdowns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    cursor: pointer;
}

.menu a.dropdowns span {
    display: block;
    margin-right: 4px;
}


.container-grid{
    position: relative;
}

.grid{
    width: 100%;
    display:none;
    background: white;
    position: relative;
    margin-top: 5px;
    z-index: 1000;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "banners categorias subcategorias subcategorias";
    box-shadow: 0px 3px 6px rgba(0,0,0,.10); 
}

.grid .btn-cerrar {
    border: none;
    color: #0b2a3f;
    background-color: white;
    cursor: pointer;
    font-size: 1.8rem;
    position: absolute;
    top:10px;
    right: 20px;
}

.grid.activo{
    display: grid;
}

.grid::before{
    content: "";
    display: block;
    background: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    top: -5px;
    left:90px;
}

.grid > div{
    background: #fff;
}


.grid .btn-regresar{
    background: #14293D;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    display: none;
}
.grid .btn-regresar i {
    margin-right: 10px;
}

.grid .categorias{
    grid-area: categorias;
    padding-top: 10px;
    min-height: 300px;
}

.grid .categorias a{
    color: #14293D;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.grid .categorias a i {
    color: #65A4B3;
}

.grid .categorias a:hover{
    font-weight: bold;
}

.grid .categorias a:hover i{
    display: inline-block;
}

.grid .container-subcategoria{
    grid-area: subcategorias;
}

.grid .subcategoria {
    display: none;
}
.grid .subcategoria.activo {
    display: grid;
}

.grid .subcategoria{
    grid-area: categorias;
    padding-top: 10px;
    height: 100%;
    min-height: 300px;
    padding-left: 20px;
    position: relative;
    margin-left: 10px;
}

.grid .subcategoria::before {
    content: '';
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #65A4B3;
    position: absolute;
}

.grid .subcategoria .subtitulo{
    display: none;
}

.grid .subcategoria a{
    color: #000;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.grid .subcategoria a:hover{
    font-weight: bold;
};

.grid .subtitulo{
    font-size: 18px;
    font-weight: normal;
    color: #000;
    padding: 10px 20px;
}

.grid .banners {
    margin-right: 10px;
}

.grid .banners {
    position: relative;
}


.grid .banners img {
    width: 100%;
    vertical-align: top;
    height: 100%;
    object-fit: cover;
}

.grid .banners a{
    display: block;
    height: 100%;
}

@media screen and (max-with:1000px){
    .menu .container-enlaces-nav{
        padding: 0 10px;
    }
    .menu .container{
        width: 100%;
    }
}

@media screen and (max-width: 800px){

    .banner-image {
        background-color: #2C65A8;
    }

    .header-nav {
        height: 100px;
        flex-wrap: wrap;
        padding: 0 10px;
        align-items: center;
        background-image: url('https://www.asesoriapenal247.com/wp-content/uploads/2019/11/background-menu.jpg');
        background-size: cover;
        background-color: white;
    }

    .header-nav .image img {
        width: 100px;
        height: 100px;
    }
    
    .header-nav .llamanos{
        width: 100%;
    }

    .menu .container{
        width: 90%;
        margin: 0 auto;
    }

   
    .menu .container-botones-menu{
        display: flex;
        justify-content: flex-end;
    }
    .menu .container-enlaces-nav{
        padding: 20px;
        background-color: #3F8FE3;
        height: 100vh;
        margin-top: 26px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 2000;
        transition: .3s ease all;
        transform: translate(-100%);
    }
    .menu .container-enlaces-nav.activo{
        transform: translate(0%);
    }

    .menu .btns{
        width: 100%;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .menu ul {
        display: block;
        width: 100%;
    }

    .menu ul li {
        border-radius: 10px;
        margin-bottom: 5px;
        margin: 20px 0;
    }

    .menu ul li a {
        color: white;
    }

    .menu ul li a  i{
        transform: rotateZ(-90deg);
    }

    .menu ul li::before {
        display: none;
    }

    .grid{
        display: grid;
        transition: .3s ease all;
        transform: translateX(-100%);
        z-index: 3000;
        width: 80%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        grid-template-areas: "categorias categorias categorias categorias";
    }

    .grid .subcategoria{
        display: block;
        padding: 0;
        transition: .3s ease all;
    }

    .grid .subcategoria::before {
        display: none;
    }

    .grid.activo{
        transform: translatex(0%);
    }
    .grid::before{
        display: none;
    }
    .grid .btn-regresar{
        display: inline-block;
    }

    .grid .banners{
        display: none;
    }

    .grid .container-subcategorias{
        position: absolute;
        top: 0;
        width: 100%;
        height: 50vh;
        transform: translatex(-100%);
        transition: .3s ease all;
        overflow: auto;
    }
    .grid .container-subcategorias.activo{
        transform: translatex(0);
    }
    .grid .container-subcategorias .subcategoria{
        grid-template-columns: 1fr;
    }
    .grid .container-subcategorias .categoria{
        min-height: 50vh;
        overflow: auto;
    }


}
    